{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}

<main>
    <style>
        .body, html{
            margin: 0;
            padding: 0;
            height: 100%;
        }
        
        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 0 15px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }

        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
        }

        .features {
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('{{ url_for("static", filename="photo-1420161900862-9a86fa1f5c79.jpeg")}}');
            background-size: cover;
            background-position: center;
            z-index: -1;
        }

        .background-image::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            background: linear-gradient(rgba(255, 255, 255, 0), rgba(82, 82, 82, 0));
        }

        .container {
            position: absolute;
            background-color:#a3a3a3 ;
            top: 75%;
            max-width: 100%;
            width: 98%;
            left: 0%;
            height: 25vh;
            mix-blend-mode: multiply;
        }

        .main.intro {
            position: relative;
            z-index: 2;
        }

        /*.main.intro h1{
            position: absolute;
            color: #1fd662;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            text-align: center;
            
        }*/

        .main.intro h1 img {
            max-width: 50%;
            height: auto;
            position: absolute;
            left: 12%;
            top: calc(50% + 10px);
        }

        .main.intro p{
            position: absolute;
            color: #65758c;
            top: calc(50% + 190px);
            left: calc(50% + 10px);
            transform: translateX(-50%);
            font-weight: bold;
            font-weight: 100;
            text-align: center;
            font-size: 25px;
            font-family: sans-serif;
        }

        .image1 {
            position: absolute;
            top: 15%;
            max-width: 100%;
            left: 20%;
            width: 145px;
            height: auto;
        }

        .image2 {
            position: absolute;
            top: 15%;
            left: 35%;
            max-width: 100%;
            width: 145px;
            height: auto;
        }
        .image3 {
            position: absolute;
            top: 15%;
            left: 49%;
            max-width: 100%;
            width: 180px;
            height: auto;
        }
        .image4 {
            position: absolute;
            top: 15%;
            left: 67%;
            max-width: 100%;
            width: 320px;
            height: auto;
        }

    </style>
    <div class="main intro">
        <h1><img src="{{ url_for('static', filename='Spotify_Logo_RGB_Green.png') }}" alt="Spotify_Logo_RGB_Green"></h1>
        <p><b>-</b> Microsoft Student Club CIT</p>
    </div>
    <div class="background-image" ></div>
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-6">
                    <div class="features">
                        <h1></h1>
                        <img class="image1" src="{{ url_for('static', filename='python-5-logo-png-transparent.png') }}" alt="python-5-logo-png-transparent">
                        <img class="image2" src="{{ url_for('static', filename='1175208 (1).png') }}" alt="1175208 (1)">
                        <img class="image3" src="{{ url_for('static', filename='bootstrap-logo.png') }}" alt="bootstrap-logo">
                        <img class="image4" src="{{ url_for('static', filename='sqlite-icon-256x114-egn3lofe.png') }}" alt="sqlite-icon-256x114-egn3lofe">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}